<!DOCTYPE html>
<html>
<head>
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>

<h1 class="display-1">WinBin</h1>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[0][0] %>" type="button" class= <% if(en2D[0][0]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled" <% } %>><i class="<%= as2D[0][0] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[0][1] %>" type="button" class= <% if(en2D[0][1]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[0][1] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[0][2] %>" type="button" class= <% if(en2D[0][2]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[0][2] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[0][3] %>" type="button" class= <% if(en2D[0][3]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[0][3] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[1][0] %>" type="button" class= <% if(en2D[1][0]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[1][0] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[1][1] %>" type="button" class= <% if(en2D[1][1]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[1][1] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[1][2] %>" type="button" class= <% if(en2D[1][2]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[1][2] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[1][3] %>" type="button" class= <% if(en2D[1][3]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[1][3] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[2][0] %>" type="button" class= <% if(en2D[2][0]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[2][0] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[2][1] %>" type="button" class= <% if(en2D[2][1]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[2][1] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[2][2] %>" type="button" class= <% if(en2D[2][2]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[2][2] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[2][3] %>" type="button" class= <% if(en2D[2][3]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[2][3] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[3][0] %>" type="button" class= <% if(en2D[3][0]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[3][0] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[3][1] %>" type="button" class= <% if(en2D[3][1]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[3][1] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[3][2] %>" type="button" class= <% if(en2D[3][2]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[3][2] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[3][3] %>" type="button" class= <% if(en2D[3][3]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[3][3] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[4][0] %>" type="button" class= <% if(en2D[4][0]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[4][0] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[4][1] %>" type="button" class= <% if(en2D[4][1]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[4][1] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[4][2] %>" type="button" class= <% if(en2D[4][2]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[4][2] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[4][3] %>" type="button" class= <% if(en2D[4][3]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[4][3] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[3][0] %>" type="button" class= <% if(en2D[3][0]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[3][0] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[5][1] %>" type="button" class= <% if(en2D[5][1]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[5][1] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[5][2] %>" type="button" class= <% if(en2D[5][2]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[5][2] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
        <div class="col-3 themed-grid-col ">
            <a href="<%= win2D[5][3] %>" type="button" class= <% if(en2D[5][3]){ %> "btn btn-success btn-block" <% } else{ %> "btn btn-warning btn-block disabled"<% } %>><i class="<%= as2D[5][3] %>" style="font-size:60px;color:white;"></i>
            </a>
        </div>
    </div>

</div>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
